includes:
	- vendor/ekino/phpstan-banned-code/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
	level: 8
	paths:
		- %rootDir%/../../..
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
	excludes_analyse:
		- %rootDir%/../../../vendor/*

		- %rootDir%/../../../DependencyInjection/Configuration.php
