<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">

    <coverage processUncoveredFiles="true">
        <include>
            <directory>./</directory>
        </include>

        <exclude>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
        </exclude>

        <report>
            <clover outputFile="build/phpunit/clover.xml"/>
            <html outputDirectory="build/phpunit/html"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">Tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="build/phpunit/junit.xml"/>
    </logging>

    <extensions>
        <extension class="Ekino\DataProtectionBundle\Tests\BypassFinalHook"/>
    </extensions>
</phpunit>
